:host{
    ngx-flip{
      height: 200px;
      width: 200px;
      .front{
        background-color: lightgreen;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .back{
        background-color: lightblue;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }